/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body { 
    height: 100%;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar {
    height: 64px;
}

.mat-sidenav-container {
    height: calc(100vh - 64px);
    padding: 10vh 20vh;
    text-align: center;
}

.spacer { 
    flex: 1 1 auto; 
}

.form-group {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.input-text {
    width: 100%;
}

.mat-list-item {
    
    border: 1px solid beige;
}

.infos-center {
    border: 5px solid;
    padding: 5vh;
}

.mat-button {
    height:100%;
}