<div>
    <h2>Prise de rendez-vous vaccination</h2>
    <span style="text-transform: uppercase;">{{center?.name}}</span> <br/>
    <span>{{center?.address}}</span> <br/>
    <span>{{center?.postalCode}} {{center?.city}}</span> <br/>
    <form (ngSubmit)="reservation(prenom.value, nom.value, email.value, date.value)">
        <label>Prénom</label><br/>
        <input type="text" placeholder="Prénom" #prenom><br/>
        <label>Nom</label><br/>
        <input type="text" placeholder="Nom" #nom><br/>
        <span>Email</span><br/>
        <input type="email" placeholder="Email" #email><br/>
        <span>Date du rendez-vous</span><br/>
        <input type="date" placeholder="Date du rendez-vous" #date><br/>
    </form>
    <button class="primary" type="button" (click)="reservation(prenom.value, nom.value, email.value, date.value)">Prendre rendez-vous</button>
</div>
