<input type="text" placeholder="Dans quelle ville ?" #filter>
<button class="primary" type="button" (ngSubmit)="filterCenters(filter.value)" (click)="filterCenters(filter.value)">Rechercher</button>

<ul *ngIf="filteredCenters.length > 0; else noCenters">
    <li *ngFor="let aCenter of filteredCenters">        
        <button 
            (click)="selectCenter(aCenter)">
            
            <span>{{aCenter.name}}</span><br/>
            <span>{{aCenter.address}}</span><br/>
            <span>{{aCenter.postalCode}} {{aCenter.city}}</span><br/>        
        </button>
    </li>
</ul>

<ng-template #noCenters>
    <p>Aucun centre de vaccination trouvé</p>
</ng-template>